.App {
  text-align: center;
}

#places_grid {
  padding-top: 80px;
}
#img-logo {
  height: 300px;
  width: 300px;
}
#hours_list {
  list-style-type: none;
}
.name {
  float: left;
  padding: 20px 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
