.App {
  text-align: center;
}

#places_grid {
  padding-top: 80px;
}
#img-logo {
  height: 300px;
  width: 300px;
}
#places_details {
  padding: 30px 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
